In [25]:
from statsmodels.formula.api import ols

In [26]:
from sklearn import datasets

In [27]:
data_ = datasets.load_diabetes()

In [28]:
data_.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

In [29]:
import pandas as pd

In [30]:
features = pd.DataFrame(data_['data'], columns = data_['feature_names'])

In [31]:
target = pd.DataFrame(data_['target'], columns=['target'])

In [34]:
features.head()

        age       sex       bmi  ...        s4        s5        s6
0  0.038076  0.050680  0.061696  ... -0.002592  0.019908 -0.017646
1 -0.001882 -0.044642 -0.051474  ... -0.039493 -0.068330 -0.092204
2  0.085299  0.050680  0.044451  ... -0.002592  0.002864 -0.025930
3 -0.089063 -0.044642 -0.011595  ...  0.034309  0.022692 -0.009362
4  0.005383 -0.044642 -0.036385  ... -0.002592 -0.031991 -0.046641

[5 rows x 10 columns]

In [35]:
target.head()

   target
0   151.0
1    75.0
2   141.0
3   206.0
4   135.0

In [36]:
model = ols('target ~ features', data=data_).fit()

In [37]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Sun, 18 Jul 2021   Prob (F-statistic):           3.83e-62
Time:                        01:09:53   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     152.1335      2.576     59.061      0.000     147.071     157.196
features[0]   -10.0122     59.749     -0.168      0.867    -127.448     107.424
features[1]  -239.8191     61.222     -3.917      0.000    -360.151    -119.488
features[2]   519.8398     66.534      7.813      0.000     389.069     650.610
features[3]   324.3904     65.422      4.958      0.000     195.805     452.976
features[4]  -792.1842    416.684     -1.901      0.058   -1611.169      26.801
features[5]   476.7458    339.035      1.406      0.160    -189.621    1143.113
features[6]   101.0446    212.533      0.475      0.635    -316.685     518.774
features[7]   177.0642    161.476      1.097      0.273    -140.313     494.442
features[8]   751.2793    171.902      4.370      0.000     413.409    1089.150
features[9]    67.6254     65.984      1.025      0.306     -62.065     197.316
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
linearModel = LinearRegression().fit(features, target)

In [41]:
linearModel.score(features, target)

0.5177494254132934

In [42]:
linearModel.coef_

array([[ -10.01219782, -239.81908937,  519.83978679,  324.39042769,
        -792.18416163,  476.74583782,  101.04457032,  177.06417623,
         751.27932109,   67.62538639]])